@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Cossette+Texte:wght@400;700&family=Mate:ital@0;1&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

main{
    flex: 1;
}

main p{
    font-family: "Lato";
}

/* HEADER */
.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    top: 0;
    z-index: 1000;
    padding: 0 1rem;
}

.img-senai {
    width: 120px;
    height: auto;
}

.navigation{
    margin: 0 auto;
}

.navigation nav {
    display: flex;
    gap: 0.8rem;
}

.navigation a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 12px;
    transition: 0.5s;
}

.navigation a:hover{
    background-color: #0066cc;
    color: white;
}

/* TÍTULO E VIDEO */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 25px;
    border-radius: 16px;
    margin: 2rem auto;
    width: 100%;
    max-width: 1100px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    text-align: left;
    background-color: white;
}

.card.primeiro{
    margin-top: 7rem;
}

.card.alternate {
    background-color: #e4e7ec;
}

.card.img{
    max-width: 1350px;
    border-radius: 32px;
}

.card.minima{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #0066cc;
    font-family: "Merriweather Sans";
}

.text p {
    font-size: 1rem;
    line-height: 1.5;
}

.text ul li p {
    font-size: 1rem;
    line-height: 1.5;
}

.container-scripts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 25px;
    border-radius: 16px;
    margin: 2rem auto;
    width: 100%;
    max-width: 1100px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    text-align: left;
    background-color: white;
}

.scripts{
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.scriptsP{
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.script{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px;
    border-radius: 16px;
    margin: 0.5rem auto;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    text-align: left;
    background-color: rgb(224, 224, 224);
}

.script.leituraD{
    display: flex;
    align-items: center;
}

section{
    display: none;
}

section.active{
    display: flex;
    flex-direction: column;
}

button{
    width: 90px;
    font-size: 1.2rem;
    border: 0;
    border-radius: 12px;
    background-color: #0066cc;
    color: white;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover{
    transform: scale(1.05);
}

.anexos{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 32px; 
    margin-top: 16px;
}

.anexos img{
    width: 350px;
}

/* CONTATOS */
.contatos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.3rem;
    top: 0;
    text-align: center;
    padding: 1.1rem;
    background-color: #212121;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.contatos i {
    font-size: 30px;    
    color: #0066cc; 
}   
    
.contatos i:hover { 
    font-size: 32px;    
    color: #0052a5; 
    transition: ease-in-out 500ms;  
}   

.contatos i:active {
    font-size: 32px;
    color: #0052a5;
    transition: ease-in-out 500ms;
}


.contato-item {
    padding: 2px;
}

.contato-item p {
    font-weight: bold;
    font-size: 16px;
}

.contato-item .email {
    font-size: 12px;
    color: rgb(220, 220, 220);
} 

.sideeBar{
    display: none;
    position: absolute;
    justify-content: center;
    top: 90px;
    right: 0;
    width: auto;
    z-index: 1;
    flex-direction: column;
    height: auto;
    padding: 15px;
    background-color: white;
    padding: 5px;
}

.sideeBar nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* empurra o bloco do nav pra direita */
    gap: 10px;
}

.sideeBar nav a {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* texto e ícone ficam à esquerda dentro do link */
    width: 200px; /* ou o tamanho que quiser */
    text-align: left; /* garante que o texto dentro do link fique à esquerda */
}

.sideeBar.active{
    display: flex;
}

.menu-icon {
    width: 35px;
    cursor: pointer;
    margin: 15px;
}

.bar {
    display: none;
    height: 3px;
    width: 100%;
    background-color: #333;
    margin: 6px 0;
    border-radius: 2px;
    transition: 0.3s;
}

/* MEDIA QUERIES */
@media (min-width: 410px) {
    .navigation a{
        font-size: 0.9rem;
    }
    .div-header{
        padding-right: 15px;
    }
}

@media (min-width: 440px) {
    .navigation a{
        font-size: 0.95rem;
    }
    .div-header{
        padding-right: 20px;
    }
    .img-senai{
        width: 170px;
    }
}

@media (max-width: 860px){
    .scripts{
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 1070px){
    .navigation{
        display: none;
    }
    .bar{
        display: block;
    }
}